body {
  padding: 50px;
  font-size: 9px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #222222;
  color: #ffffff;
}

a {
  color: #00B7FF;
}

#refresh-btn {
  margin-top: 500px;
  margin-left: 900px;
}